* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 90px 20px 0;
  background-image: url(../images/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body .header .nav a img {
  height: 60px;
  padding: 0 20px;
  left: 0;
  top: 10px;
  position: fixed;
}

.header {
  background-color: #455bbb;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav .nav-menu-item-out {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav .nav-menu-item-out .nav-menu-link-out {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 8px 12px;
  border-radius: 3px;
}

.nav .nav-menu-item-out .nav-menu-link-out:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(218, 99, 99);
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover {
  background-color: rgba(123, 175, 226, 0.5);
  transition: 0.5s;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 10px 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

/* MOBILE */
@media (max-width: 1200px) {
  body {
    padding-top: 70px;
  }

  body .header .nav a img {
    height: 50px;
    top: 10px;
    padding: 0px 10px;
  }

  .header {
    height: 60px;
  }

  .contenerdor-nav {
    height: 60px;
  }

  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2c3e50;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }

  .contenedor_galeria {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: b;
  }

}

/* Sliders */

.section-slider {
  margin: 0;
  padding: 0;
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 2000px;
  height: 800px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 100px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 2000px;
  height: 800px;
}

.navigation-manual {
  position: absolute;
  width: 1900px;
  margin-top: 750px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked~.firts {
  margin-left: 0;
}

#radio2:checked~.firts {
  margin-left: -20%;
}

#radio3:checked~.firts {
  margin-left: -40%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 1900px;
  margin-top: 750px;
  justify-content: center;

}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background: #40d3dc;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background: #40d3dc;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background: #40d3dc;
}

@media (max-width: 1500px) {

  .section-slider {
    height: 70vh;
  }

  .slide img {
    width: 1800px;
    height: 550px;
  }

  .slider {
    width: 1800px;
    height: 550px;
  }

  .navigation-manual {
    width: 1400px;
    margin-top: 500px;
  }

  .navigation-auto {
    width: 1400px;
    margin-top: 500px;
  }
}

@media (max-width: 700px) {

  .section-slider {
    height: 25vh;
  }

  .slide img {
    width: 800px;
    height: 200px;
  }

  .slider {
    width: 800px;
    height: 200px;
  }

  .navigation-manual {
    width: 470px;
    margin-top: 170px
  }

  .navigation-auto {
    width: 470px;
    margin-top: 170px;
  }
}

/* footer */

.contenedor-redes {
  max-width: 1600px;
  margin: 0 auto;
}

.footer {
  padding: 80px 0 50px 0;
}

.footer-link {
  display: flex;
}

.link {
  width: 300px;
  position: relative;
  top: 0px;
  left: 1300px;
}

.link h3 {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.link a {
  font-size: 17px;
  color: white;
  display: block;
  margin-bottom: 20px;
}

.link a:hover {
  color: rgb(76, 146, 211);
}

.socials {
  display: flex;
  margin-bottom: 15px;

}

.socials a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: #40d3dc;
  ;
  margin: 0 15px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 20px;
}

.socials a:hover {
  background-color: #FFFFFF;
  ;
}


@media (max-width: 1800px) {
  .link {
    left: 1000px;
  }
}

@media (max-width: 1300px) {
  .link {
    left: 500px;
  }
}

@media (max-width: 800px) {
  .link {
    left: 300px;
  }
}

@media (max-width: 700px) {
  .link {
    top: 300px;
    left: 100px;
  }
}